<h1 style="text-align: center;">FACTURA GENERICA</h1>
<hr />
<div>&nbsp;</div>
<div>Fecha: {{date}}</div>
<div>Cliente: {{client}}</div>
<div>ID Cliente: {{number}}</div>
<div>&nbsp;</div>
<div>Descripci&oacute;n&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Cantidad&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Precio</div>
<div>-------------------------------------------------------------------</div>
<ol>
<li>{{first_product}}&nbsp; &nbsp; &nbsp;{{fp_cant}}&nbsp; &nbsp; ${{fp_price}}</li>
<li>{{second_product}} {{sp_cant}}&nbsp; &nbsp;$ {{sp_price}}</li>
</ol>
<div>-------------------------------------------------------------------</div>
<div>&nbsp;</div>
<div>Subtotal:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ${{sub_total}}</div>
<div>Impuesto (10%):&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ${{taxes}}</div>
<div>-------------------------------------------------------------------</div>
<div>Total:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;${{total}}</div>
<div>&nbsp;</div>
<div>Gracias por su compra!</div>